Estacionamento.Apresentacao/Connected Services/ServicoEstacionamento/Estacionamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Estacionamento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58048/Estacionamento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58048/Estacionamento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEstacionamento_Checkin_InputMessage">
    <wsdl:part name="parameters" element="tns:Checkin" />
  </wsdl:message>
  <wsdl:message name="IEstacionamento_Checkin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckinResponse" />
  </wsdl:message>
  <wsdl:message name="IEstacionamento_Checkout_InputMessage">
    <wsdl:part name="parameters" element="tns:Checkout" />
  </wsdl:message>
  <wsdl:message name="IEstacionamento_Checkout_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckoutResponse" />
  </wsdl:message>
  <wsdl:message name="IEstacionamento_VagasRestantes_InputMessage">
    <wsdl:part name="parameters" element="tns:VagasRestantes" />
  </wsdl:message>
  <wsdl:message name="IEstacionamento_VagasRestantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:VagasRestantesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEstacionamento">
    <wsdl:operation name="Checkin">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstacionamento/Checkin" message="tns:IEstacionamento_Checkin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstacionamento/CheckinResponse" message="tns:IEstacionamento_Checkin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Checkout">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstacionamento/Checkout" message="tns:IEstacionamento_Checkout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstacionamento/CheckoutResponse" message="tns:IEstacionamento_Checkout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VagasRestantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstacionamento/VagasRestantes" message="tns:IEstacionamento_VagasRestantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstacionamento/VagasRestantesResponse" message="tns:IEstacionamento_VagasRestantes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEstacionamento" type="tns:IEstacionamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Checkin">
      <soap:operation soapAction="http://tempuri.org/IEstacionamento/Checkin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Checkout">
      <soap:operation soapAction="http://tempuri.org/IEstacionamento/Checkout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VagasRestantes">
      <soap:operation soapAction="http://tempuri.org/IEstacionamento/VagasRestantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Estacionamento">
    <wsdl:port name="BasicHttpBinding_IEstacionamento" binding="tns:BasicHttpBinding_IEstacionamento">
      <soap:address location="http://localhost:58048/Estacionamento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>